.textarea {
  display: block;
  background-color: transparent;
  outline: 0;
  border: 1px solid var(--main-link-c);
  border-radius: 8px;
  padding: 10px;
  color: var(--main-link-c);
  resize: vertical;
  min-height: 150px;
  font-family: inherit;

  &:focus,
  &:hover {
    border-color: var(--main-link-c-hover);
  }
  &::placeholder {
    color: var(--main-link-c);
  }
}