.task {

  &__title {
    margin-bottom: 30px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    @media (max-width: 374px) {
      flex-direction: row-reverse;
    }
  }

  &__complete {
    @media (max-width: 374px) {
      order: -1;
    }
  }

  &__content {
    margin-bottom: 10px;
  }

  p.task__due {
    font-size: 12px;
    color: var(--main-title-c);
    font-weight: 600;
    margin-bottom: 20px;
    
    &_overdue {
      color: var(--main-err-c);
    }
  }


  &__btn {
    margin-left: auto;
  }
}