.task {

  &__title {
    margin-bottom: 30px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    @media (max-width: 374px) {
      flex-direction: row-reverse;
    }
  }

  &__complete {
    @media (max-width: 374px) {
      order: -1;
    }
  }

  &__text {
    margin-bottom: 20px;
  }

  &__btn {
    margin-left: auto;
  }
}