.list {
  margin: 0 auto;

  &__title {
    text-align: center;
    margin-bottom: 50px;
    margin-bottom: 50px;
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 50px;
  }

  &__content {
    width: fit-content;
    margin: 0 auto;
  }

  &__link {
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    &:last-child{ margin-bottom: 0;}
  }
}