.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__btn {
    align-self: flex-end;
  }

  ._err {
    border-color: var(--main-err-c) !important;

    &:hover {
      border-color: var(--main-err-c) !important;
    }
    &::placeholder {color: var(--main-err-c) !important;}
  }
}