.select {
  outline: 0;
  font-size: 14px;
  border: 1px solid var(--main-link-c);
  border-radius: 8px;
  padding: 9px 10px;
  padding-right: 20px;
  background-color: transparent;
  color: var(--main-link-c);
  position: relative;
  width: 150px;

  &::after {
    content: '';
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(calc(4px - 50%));
    border: 5px solid transparent;
    border-top: 8px solid var(--main-link-c);
    transition-duration: .2s;
  }
  
  span {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__wrapper {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    border: 1px solid var(--main-link-c);
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition-duration: .2s;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
  }
  
  &._active {
    &::after {
      transform: translateY(calc(-4px - 50%)) rotateX(180deg);
    }
  }

  &._active &__wrapper {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }

  &__option {
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    color: var(--main-link-c);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: var(--main-link-c-hover);
    }

    & input {
      display: none;
    }
  }
}